.card-deck {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.card-img-top {
    margin-top: 25px;
    height: 200px;
    width: 200px;
}

.container-7 {
    background-color: transparent;
    height: 50px;
    margin-top: 25px;
    border: 0;
}
